@import 'scss/font-awesome';

//----- Font awsome -----

@mixin icon($icon) {
	@include icon-FontAwesome();
	content: $icon;
}

@mixin icon-FontAwesome() {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	*margin-right: .3em; // fixes ie7 issues
}

@mixin single-transition($t-property: all, $t-duration: 0.3s, $t-timing: linear, $t-delay: 0s) {
	-webkit-transition: $t-property $t-duration $t-timing $t-delay;
	-moz-transition: $t-property $t-duration $t-timing $t-delay;
	-o-transition: $t-property $t-duration $t-timing $t-delay;
	transition: $t-property $t-duration $t-timing $t-delay;
}

@mixin border_radius($size: 50%) {
	border-radius: $size;
	-moz-border-radius: $size;
	-webkit-border-radius: $size;
}

@mixin shadow($horisontal: 1px, $vertical: 1px, $blur: 5px, $spread: 0, $color: #333333) {
	-webkit-box-shadow: $horisontal $vertical $blur $spread $color;
	box-shadow: $horisontal $vertical $blur $spread $color;
}

$white: #ffffff;
$black: #000000;

// LAYOUT

/* Make it mobile

html,
body {
	background-color: black;
}

.middle {
	max-width: 640px !important;
	background-color: $white !important;
	
	margin: {
		left: auto;
		right: auto;
	}
	
	&:after {
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		clear: both;
		float: none;
	}
}


*/

.row {
	max-width: 76rem;
}

/* Popup */

.blackout {
	position: fixed;
	z-index: 35;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	right: 0;
	left: 0;
	background-color: rgba(#000000, 0.45);
}

#popup {
	position: absolute;
	top: 120px;
	left: 50%;
	margin-left: -350px;
	padding: 0 20px;
	width: 700px;
	background-color: white;
	border: 1px solid darken(white, 55%);
	@include border-radius(10px);
	@include shadow(5px, 5px, 20px, 0, rgba(black, 0.333));
	
	&.wide {
		margin-left: -380px;
		width: 760px;
	}
	
	&.thin {
		margin-left: -160px;
		width: 320px;
	}
	
	& > h2 {
		font-size: 18px;
		padding: 12px 20px;
		margin: 0 0 30px 0;
		background-color: #2196F3;
		color: white;
		margin-top: -1px;
		margin-left: -20px;
		margin-right: -20px;
		@include border-radius(10px 10px 0 0);
	}
}

/* Image upload button fix */

.image_upload {
	a.button {
		padding: {
			top: 0.83em !important;
			bottom: 0.83em !important;
		}
		
		& {
			border-left: 1px solid white;
		}
	}
}
